
@import './variables.scss';
@import './reset.scss';

@mixin flexbox($direction,$jc,$ai){
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
}

@mixin media-query-mobile{
    @media (max-width: 480px){
        @content;
    }
}

header{
    background-color: $primary-red;
    width: 100%;
    position: fixed;
    padding: 0px; 
    z-index: 2;
    nav{
        padding-left: 10px;
        a{
            border-right: 1px solid $link-color ;
            padding-right: 5px;
            font-size: 25px;
            font-family: $pixel-font ;
            color: $link-color;
            &:last-of-type{
                border-right: unset;
            }
        }
    }
    @include media-query-mobile(){
        width: 100%;
        position:static;
    }
    img{
        @include media-query-mobile(){
                display: none; 
        }
    }

}


body{
    background-color: $background-color;
    color: $text-color;
}

footer{
    background-color: $primary-red;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 260px;
    padding-top: 30px;
    a{
        color: $link-color;
        font-family: $pixel-font;
        font-size: 30px;
        padding: 0px 10px;
    }
    img{
        padding: 0px 10px;
    }
    .logos{
        max-width: 100px;
        max-height: 100px;
    }
}



h1{
    @include flexbox(row,center,center);
    text-align: center;
    color: $link-color;
    padding-top: 100px;
    font-size: 50px;
    padding: 100px 20px 0px 20px;
    @include media-query-mobile(){
            margin: auto;
            @include flexbox(row,center ,center);
            text-align: center;
            font-size: 40px;
            padding: 50px 20px 20px 40px;
    }
}



h2{
    @include flexbox(row,center,center);
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    @include media-query-mobile(){
        text-align: center;
        font-size: 35px;
    }
}

h3{
    text-align: center;
}

p{
    padding: 5px 10px;
    @include media-query-mobile(){
        text-align: center
    }
}

.home{
    @include flexbox(row,space-between,center);
    p{
        font-size: 20px;
        padding-right: 10px;
        text-align: justify;
        @include media-query-mobile(){
            text-align: center;
        }
    }
    iframe{
        height: 200px;
        width: 600px;
        object-fit: cover;
        margin: 0px 50px;
        @include media-query-mobile(){
            width: 100%;
            height: 100%;
        }
        &:hover{
            border: #FF0000 1px solid;
            @include media-query-mobile(){
                border: none;
            }
        }
    }
    @include media-query-mobile(){
        @include flexbox(column,center,center);
    }
        
}

#undertaleLogo{
    height: 90px;
    width: 200px;
}


#character-list{
    @include flexbox(column,center,center);
    h2{
        display: flex;
        justify-content: center;
        padding: 30px 0px;   
        &:nth-of-type(1){
            color: #D72638;
        }
        &:nth-of-type(2){
            color: #DDB967;
        }
        &:nth-of-type(4){
            color: #591EB7;
        }
        &:nth-of-type(5){
            color: #5398BE;
        }
        &:nth-of-type(6){
            color: #F45D01;
        }
        &:nth-of-type(7){
            color: #00356E;
        }
        &:nth-of-type(8){
            color: #FFF70F;
        }
        &:nth-of-type(9){
            color: #EF206C;
        }
        &:nth-of-type(10){
            color: #FF220C;
        }
        &:nth-of-type(11){
            color: #FFE62B;
        }
        &:nth-of-type(12){
            color: #FF0000;
        }
    }
    @include media-query-mobile(){
        @include flexbox(column,center,center);
    }
}

.character-description{
    @include flexbox(row,space-between,center);
    @include media-query-mobile(){
        @include flexbox(column,center,center)
    }
     p{
         display: flex;
         max-width: 50%;
         max-height: 100%;
         margin: 0px 10px;
         font-size: 25px;
         @include media-query-mobile(){
            @include flexbox(row,center,center);
            max-width: 100%;
            padding: 10px 10px;
         }
    }
    &:nth-of-type(even){
        p{
            order:2;

            @include media-query-mobile(){
                order: unset;
            }
        }
    }
}



#annoying{
    width: 300px;
    height: 300px;
}

#temmie{
    width: 400px;
    height: 300px;
}


.img-and-text{
    @include flexbox(column,right,center);
    img{
        max-width: 300px;
        max-height: 300px;
        object-fit: cover;
    }
    p{
        max-width: 300px;
        max-height: 300px;
        font-family: $pixel-font;
    }
    @include media-query-mobile(){
        @include flexbox(column,center,center);
        padding-top:  30px;
    }
}


.story{
    @include flexbox(column,space-between ,center );
    font-size: 30px;
    @include media-query-mobile(){
        @include flexbox(column,center,center);
    }
    p{
        max-height: 500px;
        margin-bottom: 20px;
        padding: 5px 20px;
        text-align: center;
        @include media-query-mobile(){
            max-height: 50%;
        }
    }
    img{
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
        padding: 0px 15px;
        @include media-query-mobile(){
            height: 25%;
            width: 25%;
        }
    }
    #places{
        @include flexbox(column,center,center);
        font-size: 30px;
        font-family: $pixel-font;
        color: $link-color;
    }
}


.creators{
    font-size: 20px;
    p{
        text-align: center;
    }
    h1{
        @include flexbox(row,center,center);
        flex-wrap: wrap;
    }
    a{
        @include flexbox(row,center,center);
        font-family: $pixel-font;
        color: $link-color;
        font-size: 40px;
        &:hover{
            border: $text-color 1px solid;
            font-size: 60px;
        }
    }
    img{
        @include flexbox(row,center,center);
    }
}

#pre-webs{
    text-align: center;
}
.webs{
    @include flexbox(row,space-between,center);
    flex-wrap: wrap;
    align-content: stretch;
    margin-bottom: 5vh;
    @include media-query-mobile(){
        @include flexbox(column,center,center);
    }
    img{
        padding-right: 15px;
        margin: 10px 0px;
        @include media-query-mobile(){
            @include flexbox(row,center,center);
            padding-top: 10px;
            padding-right: 0px;
            width: 75%;
        }
        &:hover{
            border: #FF0000 3px solid;
            transform: scale(1.1) ;
            @include media-query-mobile(){
                border:none;
            }
        }
    }
    .links-shops{
        font-family: $pixel-font;
        color: $link-color;
        font-size: 40px;
        padding-left: 15px;
        @include media-query-mobile(){
            text-align: center;
            padding-left: 0px;
        }
    }
}


.form-to-viewers{
    @include flexbox(row,space-around,center);
    padding: 20px 0px;
    @include media-query-mobile(){
        @include flexbox(column,center,center);
    }
    img{
        width: 300px;
        @include media-query-mobile(){
            height: 250px;
            width: 50%;
        }
    }
}

form ul li{
    padding-top: 10px;
    @include media-query-mobile(){
        padding-top: 5px;
    }
}

.combat-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
    img{
        height: 200px;
        width: 300px;
        padding: 0px 10px;
        @include media-query-mobile(){
            height: 100px;
            width: 125px;
            padding: 0px 5px;
        }
    }
    }
    
.main-stage { 
        grid-area: 1 / 1 / 3 / 5;
        border: $text-color 3px solid;
        margin: 0px 10px;
        p{
            font-family: $pixel-font;
            font-size: 60px;
        }
    }
    
.stats { 
        grid-area: 3 / 1 / 4 / 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: $pixel-font;
        font-size: 40px;
        p{
            padding: 0px 100px;
        }
     }


#froggit{
    height: 200px;
    width: 200px;
    padding-bottom: 30px;
}

#combat-body{
    background-color: black;
    .fight { grid-area: 4 / 1 / 5 / 2; }
    .act { grid-area: 4 / 2 / 5 / 3; }
    .item { grid-area: 4 / 3 / 5 / 4; }
    .mercy { grid-area: 4 / 4 / 5 / 5; }
    @include media-query-mobile(){
        @include flexbox(column,center,center);
    }
}

.go-to-page{
    @include flexbox(row,center,center);
    color: $link-color;
    font-size: 40px;
    font-family: $pixel-font;
    padding-bottom: 30px;
    &:hover{
        border: $text-color 1px solid;
        font-size: 50px;
        @include media-query-mobile(){
            border: none;
            font-size: 40px;
            text-align: center;
        }                                                                                                           
    }
}

#bonus-title{
    color: $primary-red;
}