$background-color:#090909;
$text-color: white ;
$primary-red: #D72638;
$link-color: #FFBA08;
$pixel-font: Pixelify,sans-serif;


@font-face {
    font-family: 'Pixelify';
    src: url('../Resources/Fonts/PixelifySans-VariableFont_wght.ttf');
}
