.home{
    @include flexbox(row,space-between,center);
    p{
        font-size: 20px;
        padding-right: 10px;
        text-align: justify;
        @include media-query-mobile(){
            text-align: center;
        }
    }
    iframe{
        height: 200px;
        width: 600px;
        object-fit: cover;
        margin: 0px 50px;
        @include media-query-mobile(){
            width: 100%;
            height: 100%;
        }
        &:hover{
            border: $link-color 1px solid;
            @include media-query-mobile(){
                border: none;
            }
        }
    }
    @include media-query-mobile(){
        @include flexbox(column,center,center);
    }
        
}

#toriel-and-frisk{
    @include flexbox(row,center,center);
}

#toriel-and-frisk img{
    width: 50%;
   
    animation: fading-in 2s ease-in-out forwards;
}

#undertaleLogo{
    height: 90px;
    width: 200px;
}