.go-to-page{
    @include flexbox(row,center,center);
    color: $link-color;
    font-size: 40px;
    font-family: $pixel-font;
    padding-bottom: 30px;
    text-align: center;
    &:hover{
        border: $text-color 1px solid;
        font-size: 50px; 
        @include media-query-mobile(){
            border: none;
        }                                                                                                      
    }
   
}

.go-to-page a{
    @include media-query-mobile(){
        font-size: 40px;
        padding: 5px 15px;
    }    
}

#bonus-title{
    color: $primary-red;
}